* {
    margin: 0;
    padding: 0;
}

:root {
    --color: rgba(64, 101, 107, 0.884);
    --semcolor: rgba(37, 228, 196, 0.664);
    --seccolor:green;
    --thirdcolor:rgb(175, 175, 131);
    --defpad: 20px;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: var(--defpad);
    font-size: 30px;
    background-color: var(--color);
}

ul li:hover {
    color: var(--semcolor);
    border-radius: 50px;
    background-color: var(--color);
    cursor: pointer;
}

li {
    padding: var(--defpad);
}

.jogi h1{
    text-align: center;
    font-size: 60px;
    color: var(--seccolor);
    text-decoration: underline;
    padding: var(--defpad);
    background-color: var(--thirdcolor);
}
.jogi>p{
    background-color: var(--semcolor);
    padding: var(--defpad);
    /* width: 20em; */
    text-align: center;
}
body{
    background-color: rgba(206, 55, 105, 0.603);
}